nav + .container {
	padding-top: 75px;
}

.add-contact {
	margin: 30px 0;
}

.add-contact .form-errors {
	background: #FD7F7F;
	border: 1px solid red;
	color: #fff;
	list-style-type: none;
	margin-bottom: 20px;
	padding: 10px 0;
	text-align: center;
}